.container{
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 3px 3px 3px #333333;
}

.chatwindow{
    width: 100%;
    height: 300px;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-bottom: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.chatinput input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.chatwindow .bubble-container{
    width: 100%;
    box-sizing: border-box;
}

.chatwindow .bubble-container:after{
    content: ' ';
    display: block;
    clear: both;
}

.chatwindow .bubble-container .time{
    font-size: 10px;
    clear: both;
    display: block;
    padding: 0 5px;
}

.chatwindow .bubble{
    box-shadow: 1px 1px 1px #aaa;
    padding: 10px;
    margin: 3px;
    font-size:  20px;
    border: 1px solid #eee;
}

.chatwindow .bubble.from-me{
    float: left;
    border-radius: 10px 10px 10px 0;
}

.chatwindow .bubble.from-me + .time{
    text-align: left;
}

.chatwindow .bubble.from-other + .time{
    text-align: right;
}


.chatwindow .bubble.from-other{
    background-color: #5fb4ff;
    color: white;
    float: right;
    border-radius: 10px 10px 0 10px;

}
